.blogs-Ans {
    padding-left: 30px;
    padding-right: 30px;
}

.blogs-Q {
    color: rgb(23, 122, 214);
}

span {
    color: rgb(23, 228, 23);
}

.blogs-container {
    
    margin: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
}
