h1 {
    font-size: xx-large;
    color: deeppink;
    font: bold
}


.background {
    text-align: center;
    font-size: large;
    color: blue;
    font: bold
}

.container-me {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  
    border-radius: 10px;
    margin-top: 15px;
    
    color: crimson;
}

.skill {
    color: rgb(212, 19, 154);
    font-size: large;
    font: bold;
}

.Link {
    color: rgb(218, 92, 20);
    font-size: larger;
    font: bold;
}
.Links{
    color: black;
}